BASE_URL=https://solve.ivy.homes
API_KEY=your_ivy_api_key_here
VITE_API_URL=https://solve.ivy.homes
VITE_API_KEY=your_ivy_api_key_here
DEMO_EMAIL=your_demo_email_here
DEMO_PASSWORD=your_demo_password_here
ASSIGNED_CITY=your_assigned_city_here
ASSIGNED_LOCALITY=your_assigned_locality_here



